main {
  max-width: 72rem;
  margin: 0 auto;
}

a {
  font-size: 1.6rem;
}

a:first-child {
  margin-right: 0.8rem;
}

img {
  width: 20rem;
  height: 24rem;
  margin-right: 3.2rem;
}

.info {
  display: flex;
  align-items: flex-start;
  margin-top: 1.6rem;
}

h1 {
  margin-bottom: 1.6rem;
}

h2 {
  font-weight: normal;
  font-size: 1.4rem;
}

h2:first-of-type {
  margin-bottom: 1.2rem;
}

table {
  margin-top: 1.6rem;
  width: 100%;
  table-layout: fixed;
  font-size: 1.6rem;
}

th:nth-child(even) {
  background-color: #eee;
}

th:nth-child(odd) {
  background-color: #ccc;
}

.mail {
  margin-top: 0.8rem;
  text-align: center;
  background-color: #eee;
}

span {
  font-size: 1.6rem;
}
